[submodule "snake"]
	path = snake
	url = https://github.com/neverEndy/snake.git
[submodule "sudoku"]
	path = sudoku
	url = https://github.com/neverEndy/sudoku.git
[submodule "about-neverendy"]
	path = about-neverendy
	url = https://github.com/neverEndy/about-neverendy.git
